
.right-col {
  // margin-top: 59px;
}

.accepting {
  color: #27ae60;
  font-weight: 600;
}

.fa-times-circle-o {
  color: #e74c3c;
  position: absolute;
  top: 15px;
  right: 13px;
}

.more-info {
  color: #3498db !important;
  cursor: pointer;
  text-decoration: underline;
}